## Anonymisering

- pseoduoanonymazation

In [5]:
import hashlib as hl

# För att hasha kör vi encode
string_to_hash = "supersäkert_lösenord".encode()
string_to_hash2 = "Supersäkert_lösenord".encode()


# hexdigest ger ett hashvärde
# sha ger lösenordet osv förklarar sig själv
hl.sha256(string_to_hash).hexdigest(), hl.sha256(string_to_hash2).hexdigest()

('f32c4b422dac016699a3bb79c8db21937f0918ffec624a0c18a31789064db61c',
 'bbe88abc50b23b928297f592127b87a8e1cc8f128358894dd468eea7d98fc8b1')

In [6]:
hl.sha256(string_to_hash).hexdigest() == hl.sha256("supersäkert_lösenord".encode()).hexdigest()

True

## Example with Pandas

In [10]:
import pandas as pd


# usecols för jag vill bara plocka och inte hela filen i detta exemplet
df = pd.read_csv("../Data/BankChurners.csv", usecols = ["CLIENTNUM", "Attrition_Flag", "Customer_Age", "Gender", "Total_Trans_Amt"])

df.head()

   CLIENTNUM     Attrition_Flag  Customer_Age Gender  Total_Trans_Amt
0  768805383  Existing Customer            45      M             1144
1  818770008  Existing Customer            49      F             1291
2  713982108  Existing Customer            51      M             1887
3  769911858  Existing Customer            40      F             1171
4  709106358  Existing Customer            40      M              816

In [11]:
# Vi vill hasha clientnum

df["CLIENTNUM"]

0        768805383
1        818770008
2        713982108
3        769911858
4        709106358
           ...
10122    772366833
10123    710638233
10124    716506083
10125    717406983
10126    714337233
Name: CLIENTNUM, Length: 10127, dtype: int64

In [12]:
# Converting clientum to object because we can only hash a string
df["CLIENTNUM"] = df["CLIENTNUM"].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CLIENTNUM        10127 non-null  object
 1   Attrition_Flag   10127 non-null  object
 2   Customer_Age     10127 non-null  int64
 3   Gender           10127 non-null  object
 4   Total_Trans_Amt  10127 non-null  int64
dtypes: int64(2), object(3)
memory usage: 395.7+ KB

In [15]:
# Lambda har in parameter x och det blir ju strängen, den kör vi encode på 
# man hade också kunnat använda lambda och apply för något annat som att söka efter folk som är 18. För den går igenom hela som en for loop nästan

hashes_clientnum = df["CLIENTNUM"].apply(lambda x: hl.sha3_256(x.encode()).hexdigest())
hashes_clientnum.head()

0    31f49e9b51f6bf33a9abcf5cfcd3e7137a7d5b7718c98d...
1    828455f79469adaea7148a491704e1a4e690bb9adb5d13...
2    1d63c4e9b1b500883980e841458c632fc00d3c76c3631d...
3    6ccd9698e31744de8a8485b5c5f2ccceaaede866faa01f...
4    5e51ee77dee846c183363fed0527c1300af68cca07d3ad...
Name: CLIENTNUM, dtype: object

In [16]:

# Notera att i insert så muterar den en df
df.insert(1, "Hash_clientnum", hashes_clientnum)
df.head()

,CLIENTNUM,Hash_clientnum,Attrition_Flag,Customer_Age,Gender,Total_Trans_Amt
0,768805383,31f49e9b51f6bf33a9abcf5cfcd3e7137a7d5b7718c98d...,Existing Customer,45,M,1144
1,818770008,828455f79469adaea7148a491704e1a4e690bb9adb5d13...,Existing Customer,49,F,1291
2,713982108,1d63c4e9b1b500883980e841458c632fc00d3c76c3631d...,Existing Customer,51,M,1887
3,769911858,6ccd9698e31744de8a8485b5c5f2ccceaaede866faa01f...,Existing Customer,40,F,1171
4,709106358,5e51ee77dee846c183363fed0527c1300af68cca07d3ad...,Existing Customer,40,M,816